/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE */
html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f1f5f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #1e293b;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.header {
  background: #0f172a;
  padding: 20px 0;
}

.logo {
  color: white;
  font-size: 22px;
}

.nav {
  margin-top: 10px;
}

.nav a {
  color: #22c55e;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #3b82f6;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  color: white;
  font-weight: 600;
}
